@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.skillContainer {
  margin-top: 50px;

  .skill {
    @include boxShadow();
    max-width: 400px;
    text-align: left;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    height: 100%;
    background: $bgGradient;

    .iconBox {
      margin-bottom: 29px;

      svg {
        max-height: 64px;
        max-width: 64px;
      }
    }

    .title {
      @include text(null, 24px, 32px, 20px, $textColor );
      font-weight: 500;
    }

    .description {
      @include text(null, 16px, 28px, 22px);
    }
  }
}