@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';

.skillContainer {
  margin-top: 50px;

  .skill {
    max-width: 400px;
    text-align: left;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    height: 100%;
    background: $bgColor;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

    .iconBox {
      margin-bottom: 29px;

      .icon {
        max-height: 50px;
        max-width: 50px;
      }
    }

    .title {
      @include text(null, 24px, 32px, 20px, $textColor );
      font-weight: 500;
    }

    .description {
      @include text(null, 16px, 28px, 22px);
    }
  }
}