@import '../../common/styles/sass/mixins.scss';

.projectsBlock {
  flex-direction: column;
  padding-bottom: 62px;
  @include container();
  @include flex(null, null, null, wrap);

  &:before {
    content: "";
    background: #121415;
    width: 100%;
    height: 1px;
    margin: 40px 0 100px 0;
  }

  .projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 799px) {
      justify-content: center;
    }
  }

}