@import '../../../common/styles/sass/variables.scss';
@import '../../../common/styles/sass/mixins.scss';
.titleContainer {
  text-align: center;

  .subtitle {
    display: block;
    @include text(null, 14px, 14px, null, $TextColorThird, 400, 1px );
    text-transform: uppercase;
  }

  .title {
    margin-top: 15px;

    @media (max-width: 800px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

}