@import '../../../common/styles/sass/variables.scss';
.titleContainer {
  text-align: center;

  .subtitle {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    color: $TextColorThird;
    text-transform: uppercase;
  }

  .title {
    margin-top: 15px;
    
    @media screen and (max-width: 800px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

}