@import 'common/styles/sass/mixins';
@import 'common/styles/sass/variables';

.nav {
  display: flex;
  align-items: center;
  gap: 24px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    li {
      @include text(('Montserrat', sans-serif), 13px, null, null, $textColor, 400);
      list-style: none;
      text-transform: uppercase;

      a:hover {
        color: $primaryColor;
        cursor: pointer;
      }

      a.active {
        color: #ffffff;
      }

      a.active:hover {
        color: $primaryColor;
      }
    }
  }

  a,
  button{
    @media (max-width: 524px) {
      font-size: 10px;
    }

    @media (max-width: 448px) {
      font-size: 8px;
    }
  }
  span{
    @media (max-width: 524px) {
      font-size: 12px;
    }

    @media (max-width: 448px) {
      font-size: 10px;
    }
  }
}

