@import 'common/styles/sass/mixins';
@import 'common/styles/sass/variables';

.nav {
  display: flex;
  align-items: center;
  gap: 24px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    li {
      @include text(('Montserrat', sans-serif), 13px, null, null, $textColor, 400);
      list-style: none;
      text-transform: uppercase;

      a:hover {
        color: $primaryColor;
        cursor: pointer;
      }

      a.active {
        color: #ffffff;
      }

      a.active:hover {
        color: $primaryColor;
      }
    }
  }
}

