@import '../../common/styles/sass/mixins.scss';

.footerBlock {
  @include container();
  @include flex(column, null, center, wrap);
  padding-bottom: 20px;

  p {
    @include text(null, 18px, 1.9, null, #878e99);
  }

  &::before {
    content: "";
    background: #121415;
    width: 100%;
    height: 1px;
    margin: 22px 0 44px 0;
  }
}