@import 'variables.scss';

@mixin text ($fontFamily:null, $fontSize:null, $lineHeight: null, $marginBottom: null, $color: null, $fontWeight: null, $letterSpacing: null) {
    font-family:$fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    margin-bottom: $marginBottom;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
}