$primaryColor: #ff014f;
$textColor: #c4cfde;
$TextColorSecond: #fff;
$TextColorThird: #f9004d;

$primaryBgColor: #212428;
$bgSecondColor: #191c20;
$bgGradient: linear-gradient(145deg, #1e2024, #23272b);

$borderRadius: 5px;
