@import '../../common/styles/sass/mixins.scss';

.contactsBlock {
  @include container();
  @include flex(column, null, null, wrap);
  padding-bottom: 22px;

  &::before {
    content: "";
    background: #121415;
    width: 100%;
    height: 1px;
    margin: 33px 0 64px 0;

  }

  .title {
    margin-bottom: 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;


    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include boxShadow();
      padding: 20px;
      background-color: $primaryBgColor;
      border-radius: $borderRadius;
      width: 50%;
      margin: 0 auto;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .inputGroup {
        display: flex;
        flex-direction: column;

        .error {
          color: red;
          font-size: 0.875rem;
          margin-top: 6px;
          display: block;
        }

        label {
          @include text(("PoppinsLight", sans-serif), 12px, null, null, #a0a8b3, 600, 1px);
          text-transform: uppercase;
          margin-bottom: 14px;
        }

        input,
        textarea {
          background-color: #1b1b1b;
          color: $textColor;
          padding: 10px;
          font-size: 14px;
          border: none;
          border-radius: $borderRadius;
          outline: 2px solid #191b1e;

          &:focus {
            transition: 0.4s;
            outline-color: $primaryColor;
          }

        }

        textarea {
          resize: none;
        }
      }

    }

    .submitButton {
      @include boxShadow();
      background: linear-gradient(145deg, #1e2024, #23272b);
      border: none;
      padding: 10px;
      border-radius: $borderRadius;
      cursor: pointer;
      text-transform: uppercase;
      transition: 0.4s;
      outline: none;

      &:hover {
        transform: translateY(-5px);
      }

      &:focus {
        background: #191b1e;
      }

      span {
        @include text(("PoppinsMedium", sans-serif), 16px, null, null, $textColor);
      }
    }


    .social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      p {
        color: $textColor;
        font-size: 24px;
        font-weight: 600;
        @media (max-width: 580px){
          font-size: 16px;
        }
      }

      span {
        color: $TextColorSecond;
        font-size: 28px;
        @media (max-width: 580px){
          font-size: 18px;
        }
      }

      .socialICons {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;

        img {
          width: 64px;
          height: 64px;

          @media (max-width: 316px) {
            width: 52px;
            height: 52px;
          }

          &:hover {
            transform: translateY(-5px);
            filter: hue-rotate(10deg);
          }
        }

      }
    }

  }

}






